# Ignorer les dossiers de données dans /donnees
donnees/donnees_pickle/
donnees/donnees_autres/

# Fichiers temporaires
*.pyc
__pycache__/
*.pyo
*.pyd
*.log

# Fichiers de données
*.pkl
*.gpkg

# Fichiers de sauvegarde individuel
donnees/donnees_application/sauvegarde_utilisateurs.yaml
clefs_et_mots_de_passe.py

# Fichiers d’IDE
.vscode/
.idea/
*.swp

# Fichiers système
.DS_Store
Thumbs.db
